<div class="container">
    <mat-toolbar>
        <span>Crear Usuario</span> 
    </mat-toolbar>

    <mat-card style="margin-top: 10px;">
        <form [formGroup]="form"  (ngSubmit)="agregarUsuario()">
            <mat-grid-list cols="4" rowHeight="70px">
                <mat-grid-tile [colspan]="1" [rowspan]="1"> 
                    <mat-form-field class="ancho">
                        <mat-label>Usuario</mat-label>
                        <input matInput autocomplete="off" formControlName="usuario" >
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3" [rowspan]="5" > 
                    <img src="/assets/img/usuario.png" width="250px" height="250px">
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" > 
                    <mat-form-field class="ancho">
                        <mat-label>Nombre</mat-label>
                        <input matInput autocomplete="off" formControlName="nombre" >
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" > 
                    <mat-form-field class="ancho">
                        <mat-label>Apellido</mat-label>
                        <input matInput autocomplete="off" formControlName="apellido">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" > 
                    <mat-form-field class="ancho">
                        <mat-label>Sexo</mat-label>
                        <mat-select formControlName="sexo">
                          <mat-option *ngFor="let item of sexo" [value]="item">
                            {{item}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" > 
                    <button mat-raised-button style="margin-right: 20px;">Volver</button>
                    <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary">Aceptar</button>
                </mat-grid-tile>

            </mat-grid-list>
        </form>
    </mat-card>

</div>